<div class="container" style="margin-top: 1%">
  <div class="row">
    <div class="col-md-12">
      <li [ngClass]="{'list-group-item': true,
                      'list-group-item-success': posteLike > 0,
                      'list-group-item-danger': posteLike < 0}">
        <div class="container">
          <div class="row">
            <h2 class="col-md-8" style="color: black">{{posteTitle}} </h2>
            <label class="col-md-4" style="color: grey">Dernière update: {{lastUpdate | date: 'short'}}</label>
          </div>
          <p style="color: black">{{posteTexte}}</p>
          <p style="color: black">like : {{posteLike}}</p>
        </div>
        <button class="btn btn-success" [disabled]="!getStatusAuth()" (click)="onLike('+'); ">Like</button>
        <button class="btn btn-danger" [disabled]="!getStatusAuth()" (click)="onLike('-')">dont like</button>
        <label *ngIf="!getStatusAuth()" style="color: grey; margin-left: 10px">veuillez vous connecter pour intéragir !</label>
      </li>
    </div>
  </div>
</div>
