<div class="container" style="margin-top: 1%">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <app-poste *ngFor="let poste of postes"
                   [posteTitle]="poste.title"
                   [posteTexte]="poste.texte"></app-poste>
      </ul>
      <button class="btn btn-success" (click)="onGetPost()" style="margin-top: 1%; margin-left: 1.5%">refresh</button>
      <button class="btn btn-success" (click)="onSave()" style="margin-top: 1%; margin-left: 1.5%">Enregistré</button>
    </div>
  </div>
</div>
