<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="row">
      <a class="navbar-brand" style="color: darkgoldenrod; margin-left: -50pxvbb" routerLink="/home"><img src="https://www.citizenz.info/data/medias/arch.png" class="img-fluid" style="width: 50px;"></a>
      <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/post">Post</a>
          </li>
          <li class="nav-item">
            <a routerLink="/newPost" class="nav-link">New post</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
